In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import warnings
warnings.filterwarnings('ignore')
from sklearn.preprocessing import LabelEncoder
from scipy.stats import zscore
from sklearn.preprocessing import power_transform
from statsmodels.tsa.stattools import adfuller
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score,mean_squared_error,mean_absolute_error
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score
from sklearn.feature_selection import SelectKBest, mutual_info_classif
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.feature_selection import RFE
from sklearn.ensemble import RandomForestRegressor
from sklearn.decomposition import PCA
from xgboost import XGBRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import GridSearchCV
import pickle

# Data Loading

Source:
    https://www.kaggle.com/datasets/nicholasjhana/energy-consumption-generation-prices-and-weather

In [2]:
weather_pred=pd.read_csv('weather_features.csv')
weather_pred

,dt_iso,city_name,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,rain_1h,rain_3h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,2015-01-01 00:00:00+01:00,Valencia,270.475,270.475,270.475,1001,77,1,62,0.0,0.0,0.0,0,800,clear,sky is clear,01n
1,2015-01-01 01:00:00+01:00,Valencia,270.475,270.475,270.475,1001,77,1,62,0.0,0.0,0.0,0,800,clear,sky is clear,01n
2,2015-01-01 02:00:00+01:00,Valencia,269.686,269.686,269.686,1002,78,0,23,0.0,0.0,0.0,0,800,clear,sky is clear,01n
3,2015-01-01 03:00:00+01:00,Valencia,269.686,269.686,269.686,1002,78,0,23,0.0,0.0,0.0,0,800,clear,sky is clear,01n
4,2015-01-01 04:00:00+01:00,Valencia,269.686,269.686,269.686,1002,78,0,23,0.0,0.0,0.0,0,800,clear,sky is clear,01n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178391,2018-12-31 19:00:00+01:00,Seville,287.760,287.150,288.150,1028,54,3,30,0.0,0.0,0.0,0,800,clear,sky is clear,01n
178392,2018-12-31 20:00:00+01:00,Seville,285.760,285.150,286.150,1029,62,3,30,0.0,0.0,0.0,0,800,clear,sky is clear,01n
178393,2018-12-31 21:00:00+01:00,Seville,285.150,285.150,285.150,1028,58,4,50,0.0,0.0,0.0,0,800,clear,sky is clear,01n
178394,2018-12-31 22:00:00+01:00,Seville,284.150,284.150,284.150,1029,57,4,60,0.0,0.0,0.0,0,800,clear,sky is clear,01n
178395,2018-12-31 23:00:00+01:00,Seville,283.970,282.150,285.150,1029,70,3,50,0.0,0.0,0.0,0,800,clear,sky is clear,01n

        Sample of above dataset

In [3]:
# take sample of above dataset
weather_pred=weather_pred.sample(n=1000,random_state=42)
weather_pred

,dt_iso,city_name,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,rain_1h,rain_3h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
61043,2017-11-23 19:00:00+01:00,Madrid,286.730000,284.150000,288.150000,1020,41,0,220,0.0,0.0,0.0,0,800,clear,sky is clear,01n
96079,2017-10-02 14:00:00+02:00,Bilbao,292.640000,292.150000,293.150000,1026,94,0,317,0.0,0.0,0.0,75,701,mist,mist,50d
92849,2017-05-25 08:00:00+02:00,Bilbao,287.750000,284.150000,292.150000,1014,82,0,0,0.0,0.0,0.0,0,800,clear,sky is clear,01d
163112,2017-04-14 03:00:00+02:00,Seville,291.860000,285.150000,301.150000,1020,93,1,0,0.0,0.0,0.0,32,802,clouds,scattered clouds,03n
159577,2016-11-22 11:00:00+01:00,Seville,291.990000,285.150000,303.150000,1005,87,0,0,0.0,0.0,0.0,20,741,fog,fog,50d
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2086,2015-03-28 21:00:00+01:00,Valencia,289.041656,289.041656,289.041656,1023,49,1,16,0.0,0.0,0.0,0,800,clear,sky is clear,01
54770,2017-03-11 22:00:00+01:00,Madrid,289.150000,289.150000,289.150000,1018,55,3,300,0.0,0.0,0.0,0,800,clear,sky is clear,01n
86313,2016-09-04 14:00:00+02:00,Bilbao,304.820000,300.150000,311.480000,1021,69,3,290,0.0,0.0,0.0,20,801,clouds,few clouds,02d
154369,2016-04-20 14:00:00+02:00,Seville,292.890000,286.150000,303.150000,1016,72,5,210,0.3,0.0,0.0,75,211,thunderstorm,proximity thunderstorm,11d
122602,2016-09-22 13:00:00+02:00,Barcelona,297.580000,295.930000,299.260000,1020,100,3,308,0.0,0.0,0.0,0,800,clear,sky is clear,01d

# DataPreprocessing

    1. Extracting date/time/month/year/hour/day/weekday/quarter

In [4]:
weather_pred['date']=pd.to_datetime(weather_pred['dt_iso'].str[:10])
weather_pred['time']=pd.to_datetime(weather_pred['dt_iso'].str[11:19])
weather_pred['month']=weather_pred['date'].dt.month
weather_pred['year']=weather_pred['date'].dt.year
weather_pred['hour']=weather_pred['time'].dt.hour
weather_pred['day']=weather_pred['date'].dt.day
weather_pred['weekday']=weather_pred['date'].dt.weekday
weather_pred['quarter']=weather_pred['date'].dt.quarter

In [5]:
weather_pred

,dt_iso,city_name,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,rain_1h,...,weather_description,weather_icon,date,time,month,year,hour,day,weekday,quarter
61043,2017-11-23 19:00:00+01:00,Madrid,286.730000,284.150000,288.150000,1020,41,0,220,0.0,...,sky is clear,01n,2017-11-23,2024-03-20 19:00:00,11,2017,19,23,3,4
96079,2017-10-02 14:00:00+02:00,Bilbao,292.640000,292.150000,293.150000,1026,94,0,317,0.0,...,mist,50d,2017-10-02,2024-03-20 14:00:00,10,2017,14,2,0,4
92849,2017-05-25 08:00:00+02:00,Bilbao,287.750000,284.150000,292.150000,1014,82,0,0,0.0,...,sky is clear,01d,2017-05-25,2024-03-20 08:00:00,5,2017,8,25,3,2
163112,2017-04-14 03:00:00+02:00,Seville,291.860000,285.150000,301.150000,1020,93,1,0,0.0,...,scattered clouds,03n,2017-04-14,2024-03-20 03:00:00,4,2017,3,14,4,2
159577,2016-11-22 11:00:00+01:00,Seville,291.990000,285.150000,303.150000,1005,87,0,0,0.0,...,fog,50d,2016-11-22,2024-03-20 11:00:00,11,2016,11,22,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2086,2015-03-28 21:00:00+01:00,Valencia,289.041656,289.041656,289.041656,1023,49,1,16,0.0,...,sky is clear,01,2015-03-28,2024-03-20 21:00:00,3,2015,21,28,5,1
54770,2017-03-11 22:00:00+01:00,Madrid,289.150000,289.150000,289.150000,1018,55,3,300,0.0,...,sky is clear,01n,2017-03-11,2024-03-20 22:00:00,3,2017,22,11,5,1
86313,2016-09-04 14:00:00+02:00,Bilbao,304.820000,300.150000,311.480000,1021,69,3,290,0.0,...,few clouds,02d,2016-09-04,2024-03-20 14:00:00,9,2016,14,4,6,3
154369,2016-04-20 14:00:00+02:00,Seville,292.890000,286.150000,303.150000,1016,72,5,210,0.3,...,proximity thunderstorm,11d,2016-04-20,2024-03-20 14:00:00,4,2016,14,20,2,2
122602,2016-09-22 13:00:00+02:00,Barcelona,297.580000,295.930000,299.260000,1020,100,3,308,0.0,...,sky is clear,01d,2016-09-22,2024-03-20 13:00:00,9,2016,13,22,3,3

In [6]:
# Prepare the data for analysis.
# Drop the columns that are not required for analysis.
weather_pred.drop(['dt_iso','city_name','weather_description','date','time'],axis=1,inplace=True)

In [7]:
weather_pred

,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,rain_1h,rain_3h,snow_3h,clouds_all,weather_id,weather_main,weather_icon,month,year,hour,day,weekday,quarter
61043,286.730000,284.150000,288.150000,1020,41,0,220,0.0,0.0,0.0,0,800,clear,01n,11,2017,19,23,3,4
96079,292.640000,292.150000,293.150000,1026,94,0,317,0.0,0.0,0.0,75,701,mist,50d,10,2017,14,2,0,4
92849,287.750000,284.150000,292.150000,1014,82,0,0,0.0,0.0,0.0,0,800,clear,01d,5,2017,8,25,3,2
163112,291.860000,285.150000,301.150000,1020,93,1,0,0.0,0.0,0.0,32,802,clouds,03n,4,2017,3,14,4,2
159577,291.990000,285.150000,303.150000,1005,87,0,0,0.0,0.0,0.0,20,741,fog,50d,11,2016,11,22,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2086,289.041656,289.041656,289.041656,1023,49,1,16,0.0,0.0,0.0,0,800,clear,01,3,2015,21,28,5,1
54770,289.150000,289.150000,289.150000,1018,55,3,300,0.0,0.0,0.0,0,800,clear,01n,3,2017,22,11,5,1
86313,304.820000,300.150000,311.480000,1021,69,3,290,0.0,0.0,0.0,20,801,clouds,02d,9,2016,14,4,6,3
154369,292.890000,286.150000,303.150000,1016,72,5,210,0.3,0.0,0.0,75,211,thunderstorm,11d,4,2016,14,20,2,2
122602,297.580000,295.930000,299.260000,1020,100,3,308,0.0,0.0,0.0,0,800,clear,01d,9,2016,13,22,3,3

    4. Encoding the columns

In [8]:
# label encoding
le=LabelEncoder()
weather_pred['weather_main']=le.fit_transform(weather_pred['weather_main'])
weather_pred['weather_icon']=le.fit_transform(weather_pred['weather_icon'])
weather_pred

,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,rain_1h,rain_3h,snow_3h,clouds_all,weather_id,weather_main,weather_icon,month,year,hour,day,weekday,quarter
61043,286.730000,284.150000,288.150000,1020,41,0,220,0.0,0.0,0.0,0,800,0,2,11,2017,19,23,3,4
96079,292.640000,292.150000,293.150000,1026,94,0,317,0.0,0.0,0.0,75,701,6,21,10,2017,14,2,0,4
92849,287.750000,284.150000,292.150000,1014,82,0,0,0.0,0.0,0.0,0,800,0,1,5,2017,8,25,3,2
163112,291.860000,285.150000,301.150000,1020,93,1,0,0.0,0.0,0.0,32,802,1,8,4,2017,3,14,4,2
159577,291.990000,285.150000,303.150000,1005,87,0,0,0.0,0.0,0.0,20,741,4,21,11,2016,11,22,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2086,289.041656,289.041656,289.041656,1023,49,1,16,0.0,0.0,0.0,0,800,0,0,3,2015,21,28,5,1
54770,289.150000,289.150000,289.150000,1018,55,3,300,0.0,0.0,0.0,0,800,0,2,3,2017,22,11,5,1
86313,304.820000,300.150000,311.480000,1021,69,3,290,0.0,0.0,0.0,20,801,1,4,9,2016,14,4,6,3
154369,292.890000,286.150000,303.150000,1016,72,5,210,0.3,0.0,0.0,75,211,9,17,4,2016,14,20,2,2
122602,297.580000,295.930000,299.260000,1020,100,3,308,0.0,0.0,0.0,0,800,0,1,9,2016,13,22,3,3

In [9]:
# Remove the outliers.
z=np.abs(zscore(weather_pred))
z

,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,rain_1h,rain_3h,snow_3h,clouds_all,weather_id,weather_main,weather_icon,month,year,hour,day,weekday,quarter
61043,0.369296,0.541571,0.344783,0.030272,1.310089,1.213242,0.437668,0.254304,0.076458,0.044492,0.823703,0.388908,0.620394,0.693346,1.311155,0.351944,1.057556,0.873237,0.015058,1.344689
96079,0.370441,0.464322,0.242546,0.028353,1.159228,1.213242,1.264437,0.254304,0.076458,0.044492,1.567261,0.547081,1.943218,2.571481,1.019722,0.351944,0.327905,1.500304,1.520886,1.344689
92849,0.241626,0.541571,0.125080,0.032192,0.600137,1.213242,1.437479,0.254304,0.076458,0.044492,0.823703,0.388908,0.620394,0.865179,0.437440,0.351944,0.547676,1.099289,0.015058,0.447035
163112,0.272811,0.415834,1.182273,0.030272,1.112637,0.714581,1.437479,0.254304,0.076458,0.044492,0.196442,0.407817,0.193125,0.337652,0.728873,0.351944,1.277327,0.143995,0.486884,0.447035
159577,0.289082,0.415834,1.417205,0.035071,0.833091,1.213242,1.437479,0.254304,0.076458,0.044492,0.186113,0.168904,1.088681,2.571481,1.311155,0.525722,0.109885,0.760212,1.018943,1.344689
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2086,0.079953,0.073489,0.240044,0.029313,0.937362,0.714581,1.301105,0.254304,0.076458,0.044492,0.823703,0.388908,0.620394,1.037012,1.020305,1.403388,1.349417,1.438366,0.988827,1.342897
54770,0.066392,0.087112,0.227317,0.030912,0.657817,0.282741,1.119539,0.254304,0.076458,0.044492,0.823703,0.388908,0.620394,0.693346,1.020305,0.351944,1.495347,0.483072,0.988827,1.342897
86313,1.894975,1.470214,2.395696,0.029952,0.005544,0.282741,1.034305,0.254304,0.076458,0.044492,0.186113,0.398363,0.193125,0.349680,0.728290,0.525722,0.327905,1.274253,1.490769,0.448827
154369,0.401733,0.290098,1.417205,0.031552,0.134228,1.280063,0.352434,0.928507,0.076458,0.044492,1.567261,5.179755,3.225024,1.884149,0.728873,0.525722,0.327905,0.534160,0.517001,0.447035
122602,0.988766,0.939606,0.960263,0.030272,1.438773,0.282741,1.187727,0.254304,0.076458,0.044492,0.823703,0.388908,0.620394,0.865179,0.728290,0.525722,0.181975,0.760212,0.015058,0.448827

In [10]:
threshold=3
weather_pred_new=weather_pred[(z<3).all(axis=1)]
weather_pred_new

,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,rain_1h,rain_3h,snow_3h,clouds_all,weather_id,weather_main,weather_icon,month,year,hour,day,weekday,quarter
61043,286.730000,284.150000,288.150000,1020,41,0,220,0.0,0.0,0.0,0,800,0,2,11,2017,19,23,3,4
96079,292.640000,292.150000,293.150000,1026,94,0,317,0.0,0.0,0.0,75,701,6,21,10,2017,14,2,0,4
92849,287.750000,284.150000,292.150000,1014,82,0,0,0.0,0.0,0.0,0,800,0,1,5,2017,8,25,3,2
163112,291.860000,285.150000,301.150000,1020,93,1,0,0.0,0.0,0.0,32,802,1,8,4,2017,3,14,4,2
159577,291.990000,285.150000,303.150000,1005,87,0,0,0.0,0.0,0.0,20,741,4,21,11,2016,11,22,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64963,291.160000,290.150000,292.150000,1021,48,2,110,0.0,0.0,0.0,0,800,0,2,4,2018,23,19,3,2
2086,289.041656,289.041656,289.041656,1023,49,1,16,0.0,0.0,0.0,0,800,0,0,3,2015,21,28,5,1
54770,289.150000,289.150000,289.150000,1018,55,3,300,0.0,0.0,0.0,0,800,0,2,3,2017,22,11,5,1
86313,304.820000,300.150000,311.480000,1021,69,3,290,0.0,0.0,0.0,20,801,1,4,9,2016,14,4,6,3
122602,297.580000,295.930000,299.260000,1020,100,3,308,0.0,0.0,0.0,0,800,0,1,9,2016,13,22,3,3

    6. Check for skewness and remove (if any)

In [11]:
weather_pred_new.skew()

temp             0.108515
temp_min         0.071949
temp_max         0.166397
pressure        -2.479382
humidity        -0.534699
wind_speed       0.934703
wind_deg        -0.061927
rain_1h          2.972225
rain_3h         16.786010
snow_3h          0.000000
clouds_all       1.046998
weather_id      -2.828982
weather_main     2.079747
weather_icon     1.380475
month           -0.068807
year            -0.101281
hour            -0.010718
day              0.115696
weekday         -0.032046
quarter         -0.019987
dtype: float64

# Exploratory Data Analysis

    Check for correlation
            Making different graphs for checking relationships between the variables

In [12]:
# find correlation
weather_pred_new.corr()

,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,rain_1h,rain_3h,snow_3h,clouds_all,weather_id,weather_main,weather_icon,month,year,hour,day,weekday,quarter
temp,1.000000,0.976685,0.967936,0.030128,-0.551700,0.192955,-0.002900,-0.152115,-0.046418,NaN,-0.192747,0.180833,-0.217835,-0.247878,0.236477,0.031303,0.225819,0.015698,-0.011011,0.232655
temp_min,0.976685,1.000000,0.897396,0.007106,-0.530468,0.193306,0.013096,-0.134602,-0.036965,NaN,-0.169615,0.166156,-0.210881,-0.252810,0.225044,0.054709,0.226708,0.027735,-0.013010,0.224747
temp_max,0.967936,0.897396,1.000000,0.053766,-0.526526,0.176168,-0.028687,-0.160035,-0.054108,NaN,-0.205365,0.182075,-0.207445,-0.218915,0.231018,0.005815,0.205890,0.002880,-0.009635,0.224851
pressure,0.030128,0.007106,0.053766,1.000000,0.040949,-0.114596,-0.026912,-0.097340,-0.002712,NaN,-0.098629,0.078100,-0.051726,-0.032653,0.108313,0.077078,-0.032290,0.003879,0.011188,0.073207
humidity,-0.551700,-0.530468,-0.526526,0.040949,1.000000,-0.258534,-0.000435,0.238678,0.029105,NaN,0.386579,-0.280778,0.373080,0.453618,0.008955,-0.012178,-0.311837,0.009763,0.023699,0.009885
wind_speed,0.192955,0.193306,0.176168,-0.114596,-0.258534,1.000000,0.247223,0.000018,0.002793,NaN,0.077966,0.035137,-0.018860,-0.013017,-0.126733,0.070806,0.199889,-0.021716,-0.055691,-0.127910
wind_deg,-0.002900,0.013096,-0.028687,-0.026912,-0.000435,0.247223,1.000000,0.057652,0.034871,NaN,0.070383,-0.033866,0.024370,0.018298,-0.059176,-0.005511,0.005277,-0.071586,-0.017159,-0.052586
rain_1h,-0.152115,-0.134602,-0.160035,-0.097340,0.238678,0.000018,0.057652,1.000000,-0.019054,NaN,0.411433,-0.959835,0.836043,0.519639,-0.089303,-0.100696,0.036092,0.005240,-0.013528,-0.088701
rain_3h,-0.046418,-0.036965,-0.054108,-0.002712,0.029105,0.002793,0.034871,-0.019054,1.000000,NaN,0.028348,0.022239,-0.016378,-0.011041,-0.037296,-0.073068,-0.037014,0.002704,0.015671,-0.031942
snow_3h,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
clouds_all,-0.192747,-0.169615,-0.205365,-0.098629,0.386579,0.077966,0.070383,0.411433,0.028348,NaN,1.000000,-0.427616,0.586098,0.758356,-0.091122,-0.032647,0.023731,0.011419,-0.035580,-0.080061
weather_id,0.180833,0.166156,0.182075,0.078100,-0.280778,0.035137,-0.033866,-0.959835,0.022239,NaN,-0.427616,1.000000,-0.921247,-0.625639,0.092959,0.098489,-0.015071,0.000675,0.014339,0.091530
weather_main,-0.217835,-0.210881,-0.207445,-0.051726,0.373080,-0.018860,0.024370,0.836043,-0.016378,NaN,0.586098,-0.921247,1.000000,0.849545,-0.109203,-0.065649,-0.003638,0.003793,-0.036973,-0.103569
weather_icon,-0.247878,-0.252810,-0.218915,-0.032653,0.453618,-0.013017,0.018298,0.519639,-0.011041,NaN,0.758356,-0.625639,0.849545,1.000000,-0.081549,-0.009742,-0.053359,0.014333,-0.049821,-0.071727
month,0.236477,0.225044,0.231018,0.108313,0.008955,-0.126733,-0.059176,-0.089303,-0.037296,NaN,-0.091122,0.092959,-0.109203,-0.081549,1.000000,-0.013947,-0.059589,-0.005716,-0.031345,0.969795
year,0.031303,0.054709,0.005815,0.077078,-0.012178,0.070806,-0.005511,-0.100696,-0.073068,NaN,-0.032647,0.098489,-0.065649,-0.009742,-0.013947,1.000000,0.009241,0.031225,-0.035019,-0.011084
hour,0.225819,0.226708,0.205890,-0.032290,-0.311837,0.199889,0.005277,0.036092,-0.037014,NaN,0.023731,-0.015071,-0.003638,-0.053359,-0.059589,0.009241,1.000000,0.054462,0.019144,-0.059647
day,0.015698,0.027735,0.002880,0.003879,0.009763,-0.021716,-0.071586,0.005240,0.002704,NaN,0.011419,0.000675,0.003793,0.014333,-0.005716,0.031225,0.054462,1.000000,-0.009145,-0.002863
weekday,-0.011011,-0.013010,-0.009635,0.011188,0.023699,-0.055691,-0.017159,-0.013528,0.015671,NaN,-0.035580,0.014339,-0.036973,-0.049821,-0.031345,-0.035019,0.019144,-0.009145,1.000000,-0.029301
quarter,0.232655,0.224747,0.224851,0.073207,0.009885,-0.127910,-0.052586,-0.088701,-0.031942,NaN,-0.080061,0.091530,-0.103569,-0.071727,0.969795,-0.011084,-0.059647,-0.002863,-0.029301,1.000000

## Feature Selection

    Train/Test Splitting the Data

In [13]:
# columns: temp	temp_min, temp_max, pressure, humidity, wind_speed, wind_deg, rain_1h, rain_3h, snow_3h,clouds_all,	weather_id,weather_main,weather_icon,month,	year,hour,day,weekday,quarter

X= weather_pred_new.drop('temp',axis=1)
y= weather_pred_new['temp']

In [14]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

    Best feature Selection
        Using Random Forest Regressor

In [15]:
k=5
model = RandomForestRegressor()
model.fit(X, y)
importances = model.feature_importances_
selected_feature_indices = np.argsort(importances)[-k:]
selected_features = X.columns[selected_feature_indices]

In [16]:
selected_features

Index(['wind_deg', 'pressure', 'humidity', 'temp_max', 'temp_min'], dtype='object')

# Model Selection and Training

    Apply Linear Regression

In [17]:
# depending on above selected features apply linear regression
X_train = X_train[selected_features]
X_test = X_test[selected_features]

In [18]:
X_train

        wind_deg  pressure  humidity  temp_max  temp_min
134830         0      1017        69   277.150   277.150
116237       320      1015        75   283.150   275.370
177509       190      1018        81   284.150   283.150
107830       247      1005        59   282.970   282.970
123390       290      1023       100   293.389   293.389
...          ...       ...       ...       ...       ...
131946       290      1024       100   291.150   289.150
66711         20      1010        73   294.150   291.150
99791         30      1014        65   281.150   280.150
86389        340      1012        65   310.930   299.150
138875       220      1016        42   303.150   300.150

[749 rows x 5 columns]

In [19]:
X_test

        wind_deg  pressure  humidity  temp_max  temp_min
31047         70      1016        83    299.15    299.15
173075       220      1015        68    292.15    290.15
4019           0      1020        60    294.35    294.15
63494          0      1006        47    277.15    269.15
64445        240      1007        65    280.15    278.15
...          ...       ...       ...       ...       ...
170605       270      1022        71    287.15    286.15
92849          0      1014        82    292.15    284.15
94570          0      1018        58    303.15    301.15
165965       120      1016        77    290.15    289.15
54609        200      1016        81    280.15    279.15

[188 rows x 5 columns]

    Apply Random Forest

In [20]:
# Apply random forest regressor on the features extracted from the above step.
rf = RandomForestRegressor()
rf.fit(X_train, y_train)
y_pred_rf = rf.predict(X_test)
y_pred_rf

array([299.14666   , 290.98848375, 294.2897    , 274.25026688,
       279.18256656, 289.5592    , 284.6340525 , 281.6508    ,
       283.21212   , 292.21011656, 293.15228   , 272.64428   ,
       284.11474   , 287.1634    , 288.16335   , 298.1742    ,
       286.62164   , 280.23812   , 289.14856   , 292.138605  ,
       272.17353688, 304.6561    , 304.7138    , 305.1075    ,
       289.1656    , 292.31743563, 287.97325   , 292.105295  ,
       291.5727325 , 296.53367   , 284.88152625, 285.8811    ,
       300.4544    , 302.6649    , 298.56787   , 295.15024   ,
       289.3542    , 271.41574406, 304.746     , 285.13941781,
       294.5027    , 286.12854   , 289.4819    , 306.7269    ,
       295.1687    , 290.4743    , 295.579185  , 289.1378    ,
       300.05972   , 298.4613    , 282.5528    , 287.15      ,
       287.38194   , 286.12742   , 283.04035   , 288.71461656,
       279.081085  , 291.03981688, 280.19656   , 289.4736    ,
       286.5984    , 288.60305   , 288.5343    , 285.6741    ,
       294.2749    , 279.21721625, 292.835705  , 286.15      ,
       289.07392563, 284.8863    , 276.82989375, 281.18033688,
       284.1098875 , 301.2206    , 295.0873325 , 301.364     ,
       285.14844656, 303.2773    , 298.1813    , 298.0656    ,
       292.33509656, 279.22447438, 295.58668   , 290.14989563,
       281.19143688, 289.771     , 304.3714    , 293.91752   ,
       292.12489   , 295.141755  , 292.97433625, 302.2388    ,
       284.14716313, 290.139715  , 282.509485  , 273.75353438,
       294.1488    , 287.286415  , 279.660575  , 278.7943    ,
       305.9086    , 289.15109313, 282.11951   , 275.0863525 ,
       285.68175906, 291.4496775 , 290.44675063, 288.5826    ,
       293.80142   , 286.66562   , 293.16398   , 296.1523    ,
       289.94590125, 294.813     , 306.2678    , 290.2088    ,
       293.4269    , 288.9768    , 292.87556781, 306.07506   ,
       291.1027    , 292.14001   , 278.95686313, 296.5309    ,
       287.61342   , 290.4945    , 279.62436313, 281.20238688,
       301.34605031, 290.5726    , 290.09601688, 283.4273    ,
       289.7841    , 281.83319062, 286.8354    , 281.95708438,
       286.6586525 , 290.15591063, 297.88611667, 296.85785   ,
       295.3622    , 278.32229969, 275.26889406, 286.1489    ,
       303.527     , 288.05536   , 273.7308175 , 303.4041    ,
       295.6707    , 290.9626    , 286.1603    , 292.64557562,
       302.6247    , 301.17281344, 291.16599688, 297.89776667,
       296.17071   , 292.9807    , 292.84557813, 301.71021344,
       302.3307    , 295.0213    , 298.1711    , 279.716475  ,
       297.24859   , 299.20824   , 306.12048   , 300.4658    ,
       286.3184075 , 285.15226   , 282.14693344, 292.008855  ,
       282.4818    , 288.2149    , 302.7098    , 294.2153    ,
       287.93164156, 294.7841    , 295.74503   , 291.18325313,
       298.06963333, 295.1204    , 284.39860438, 286.520795  ,
       287.865     , 302.1256    , 289.6466    , 279.63148   ])

    Model Evaluation: Random Forest Regressor

In [21]:

print('R2 score:',r2_score(y_test,y_pred_rf))
print('Mean Absolute Error:',mean_absolute_error(y_test,y_pred_rf))
print('Mean Squared Error:',mean_squared_error(y_test,y_pred_rf))
print('Root Mean Squared Error:',np.sqrt(mean_squared_error(y_test,y_pred_rf)))

R2 score: 0.995733212924724
Mean Absolute Error: 0.24650751218974074
Mean Squared Error: 0.2728819513283334
Root Mean Squared Error: 0.5223810403607059

In [22]:
print('Accuracy score:',rf.score(X_test,y_test))

Accuracy score: 0.995733212924724

# Optimizing the above models by finding the best hyper parameters

    Random Forest (Optimised)

In [23]:
rf_op = RandomForestRegressor()

# Define the hyperparameter grid
parameters = {
    'n_estimators': [100, 200, 300],
    'max_depth': [None, 5, 10],
    'min_samples_split': [2, 4, 6],
    'min_samples_leaf': [1, 3, 5]
}

# Create the GridSearchCV object
grid_search = GridSearchCV(estimator=rf_op, param_grid=parameters, cv=5, n_jobs=-1)
grid_search.fit(X_train, y_train)

# Get the best parameters and best model
best_params = grid_search.best_params_
best_model = grid_search.best_estimator_

# Use the best model to make predictions
y_pred_rf_op = best_model.predict(X_test)

In [24]:
# Apply Random Forest Regressor on Optimised Parameters
rf_op = RandomForestRegressor()
rf_op.fit(X_train, y_train)
y_pred_rf_op = rf_op.predict(X_test)
y_pred_rf_op

array([299.1482    , 290.988295  , 294.26934   , 274.24362875,
       279.20880313, 289.584     , 284.64345063, 281.7562    ,
       283.23768   , 292.14787   , 293.13909313, 272.33614719,
       284.1252    , 287.7655    , 288.19643   , 298.1473    ,
       286.6591475 , 280.2919    , 289.14706   , 292.21182   ,
       271.91382375, 304.3513    , 304.5538    , 305.1436    ,
       289.3236    , 292.28361219, 287.98395   , 292.10162   ,
       291.5357225 , 296.51978   , 284.88795125, 285.8382    ,
       300.3366    , 302.7911    , 298.60872   , 295.1517775 ,
       289.3988    , 271.4653075 , 304.8103    , 285.155285  ,
       294.46321   , 286.13663   , 289.6561    , 306.7071    ,
       295.14189   , 290.7944    , 295.5842025 , 289.17495   ,
       300.10248   , 298.5079    , 282.5391    , 287.1589    ,
       287.37681   , 286.13562   , 283.05279   , 288.71973   ,
       279.105295  , 291.0071    , 280.12276   , 289.46424313,
       286.45784   , 288.60754   , 288.5163    , 285.5883    ,
       294.3539    , 279.21386969, 292.947985  , 286.15191   ,
       289.08025219, 284.90453344, 276.85654031, 281.19901094,
       284.15954688, 301.077     , 295.08934   , 301.35511344,
       285.15026   , 303.24      , 298.1368    , 298.09543333,
       292.41556656, 279.26387781, 295.56893   , 290.15015688,
       281.21744406, 289.8607    , 304.1571    , 293.89816   ,
       292.1433    , 295.147675  , 292.99570469, 302.2509    ,
       284.2041725 , 290.14933188, 282.49388   , 273.79177969,
       294.1333    , 287.24271   , 279.656125  , 278.71683344,
       305.9628    , 289.15217656, 282.11341375, 275.20076469,
       285.69742844, 291.4779075 , 290.49794313, 288.743     ,
       293.79812   , 286.6073    , 293.14487   , 296.17735   ,
       289.96476   , 294.8762    , 306.3434    , 290.29358625,
       293.3925    , 289.1638    , 292.94583313, 306.03433   ,
       291.136895  , 292.22969   , 278.93638281, 296.3109    ,
       287.649365  , 290.57315   , 279.563595  , 281.23483406,
       301.17155375, 290.7462    , 290.09136   , 283.4976    ,
       289.7994    , 281.84411687, 286.73973   , 281.9644775 ,
       286.6811675 , 290.14764   , 298.06441667, 296.8257    ,
       295.4951    , 278.25326   , 275.2680525 , 286.1472    ,
       303.3686    , 288.04577   , 273.64709969, 303.2288    ,
       295.8261    , 291.0095    , 286.16425   , 292.60814094,
       302.52541344, 301.27601344, 291.15516125, 298.07065   ,
       296.17038   , 293.2354    , 292.96737812, 301.659605  ,
       302.3967    , 295.0625    , 298.1605    , 279.734665  ,
       297.2026    , 299.20266   , 306.4512    , 300.4157    ,
       286.3264475 , 285.15056   , 282.14213   , 292.01276   ,
       282.464     , 288.2363    , 302.7993    , 294.0317    ,
       287.95415   , 294.8883    , 295.7207375 , 291.19167938,
       298.08216667, 295.1142    , 284.38709125, 286.57401   ,
       287.9219    , 302.1832    , 289.63315625, 279.65705   ])

In [25]:
# calculate accuracy
print('Accuracy score:',rf_op.score(X_test,y_test))
print('R2 score:',r2_score(y_test,y_pred_rf_op))
print('Mean Absolute Error:',mean_absolute_error(y_test,y_pred_rf_op))
print('Mean Squared Error:',mean_squared_error(y_test,y_pred_rf_op))
print('Root Mean Squared Error:',np.sqrt(mean_squared_error(y_test,y_pred_rf_op)))

Accuracy score: 0.995217083104854
R2 score: 0.995217083104854
Mean Absolute Error: 0.24462757147608546
Mean Squared Error: 0.30589098362831
Root Mean Squared Error: 0.5530741212787939

# Creating Pickle files

In [26]:


# Creating pickle files for Random Forest Regressor (optimised)
filename_rf = 'weather_pred_rf.pkl'
pickle.dump(rf_op, open(filename_rf, 'wb'))

In [27]:
# load the model
loaded_model_rf = pickle.load(open(filename_rf, 'rb'))
result_rf = loaded_model_rf.score(X_test, y_test)
print(result_rf)

0.995217083104854